<div class="flex-shrink-0 p-3 bg-dark">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold">Lessons</span>
  </a>
  <ul class="list-unstyled ps-0">
    <% @course.course_modules.each do |course_module| %>
      <li class="mb-1">
        <button
          class="btn btn-toggle text-start rounded text-white <%= class_names(active: course_module.lessons.pluck(:id).include?(@lesson.id)) %>"
          data-bs-toggle="collapse"
          data-bs-target="#<%= course_module.name.parameterize %>-collapse"
          aria-expanded="true">
          <%= course_module.name %>
        </button>
        <div class="collapse <%= class_names(show: course_module.lessons.pluck(:id).include?(@lesson.id)) %>" id="<%= course_module.name.parameterize %>-collapse" style="">
          <ul class="nav nav-pills flex-column mb-auto text-white">
            <% course_module.lessons.each do |lesson| %>
                <li class="nav-item">
                  <a
                    href="/course/<%= @course.id %>/<%= lesson.id %>"
                    class="nav-link <%= class_names(active: lesson.id == @lesson.id) %>"s
                  >
                    <%= lesson.name %>
                  </a>
                </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>

    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>