<section class="bg-light pt-10 mt-5">


  <div class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Check Out the Tunes!</h1>
        <p class="lead text-muted">If you wanna check the new tunes early and get updates and any cool shhtuff I'm doing, sign up for the email list!</p>
        <p>
          <a href="https://mailchi.mp/4db2432d48dd/bobcekaycom" target="_blank" class="btn btn-primary my-2">Sign up for the email list!</a>
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('enoughs enough.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('enoughs enough.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Enough's Enough</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/7n0NuxKQgnIahd4NFSdn8T" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=CMAm_Ax_O1M" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/enoughs-enough-single/1739565775" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Blowin Kisses Cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Blowin Kisses Cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Blowin Kisses</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/2VfcqmwkR1lUNBmCEnlQ9A" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=Yfr69B3AS4M" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/blowin-kisses-single/1727907120" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Dont be surprised.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Dont be surprised.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Don't be Surprised</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/4gA0nYT5xMtaL155ZH68Ej" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=svi2tNLz2Ho" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/dont-be-surprised-single/1723468883" target="_blank"type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Gonna wanna cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Gonna wanna cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Gonna Wanna</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/3wxzwYGXM6F1HoPWMXCX3E" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=N83u_1QNw5c" target="_blank" type="button" class="btn btn-sm btn-outline-secondary" ><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/gonna-wanna-single/1718942235" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Grand Escape Cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Grand Escape Cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Grand Escape</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/track/1fdMe6cvGs5g11756rWgnb" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=hK7oYgCqPk8" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/grand-escape-single/1723597804" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Fifth Away Cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Fifth Away Cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Wrote this puppy waaaaay back in the day. I was still living in CHICAGO and has probably had the best response of any of my tunes when I play it live. I'm super pumped to share FIFTH AWAY with you.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/3lTza4Miq5c7cB9cLk9hCc" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=VanP0nX0RsE" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/fifth-away/1707750638?i=1707750639" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Wavy Cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Wavy Cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a tune I wrote with a couple fellas name James 'Hot Sauce' Francis and Jordan Bagwell back in the Boxwood Ramble days. I've re-recorded and am releasing in to all streaming platforms on Friday at 12am (Thursday night at midnight). I still think this song is one of the best songs I've been a part of and I can't wait for you all to hear it.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/2nMpYPA2BxfGVPfetaHydx" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=A5qfgGDfxoI" target="_blank" type="button" class="btn btn-sm btn-outline-secondary" ><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/wavy-single/1707037271" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('real_majik_cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('real_majik_cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Writing and creating this album was still one of the hardest and most rewarding experiences of my life. So many things happened during this time which effected the content of the songs but also me as a person. I really hope you enjoy listening to this as much as I enjoyed making it and there will be a lot more coming</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/2T84mSuejmj9MwRBFQpMhj" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=-DZd9njnuqs&list=OLAK5uy_ndm4j8PbegtwVpIBCLinVUgoVS_07AM-M" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/real-majik-ep/1687275784" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
                  <!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('turquoise_rings_cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('turquoise_rings_cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a tune I was considering not even releasing and has since been my most popular song! Hope you love it.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/51E81ZibEENlpdKjKP0gdn" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=FBrYEPNC4aY&list=OLAK5uy_mZ8ey9edxjknV-QKyCGrqufRwptbplxqo" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/turquoise-rings-single/1648468900" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('ive_been_away_cover.jpg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('ive_been_away_cover.jpg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a tune about getting away from who you really are in an attempt to fit in and making my way back to myself even if its a little lonely sometimes.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/7tUKIqlOKM73igHQ19oyYh" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=pAm3Bil6Reo&list=OLAK5uy_k8O9E-ZE0q-olEJjjc6ZsA0ykVfOtPF0Y" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/ive-been-away-single/1628049425" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('on_the_road_cover.JPEG') %>" alt="Thumbnail [100%x225]" src="<%= image_path('on_the_road_cover.JPEG') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Wrote this guy kinda about leaving and home and heading for adventure. Still one of my favorites hope you love it.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/6pqbvKCJ48vrbWkO3heHBt" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=TbXYcLLtkKU&list=OLAK5uy_mwN5eOlORXchwC-r_aeJ1FWaTIBi0uub8" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/on-the-road-single/1622654322" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
