<section class="bg-light pt-10 mt-5">


  <div class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Check Out the Tunes!</h1>
        <p class="lead text-muted">If you wanna check the new tunes early and get updates and any cool shhtuff I'm doing, sign up for the email list!</p>
        <p>
          <a href="https://mailchi.mp/4db2432d48dd/bobcekaycom" target="_blank" class="btn btn-primary my-2">Sign up for the email list!</a>
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
<!--          <div class="col-md-4">-->
<!--            <div class="card mb-4 box-shadow">-->
<!--              <img class="card-img-top" data-src="<%#= image_path('Fifth Away Cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%#= image_path('Fifth Away Cover.jpeg') %>" data-holder-rendered="true">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional-->
<!--                  content. This content is a little bit longer.</p>-->
<!--                <div class="d-flex justify-content-between align-items-center">-->
<!--                  <div class="btn-group">-->
<!--                    <a type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>-->
<!--                    <a type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>-->
<!--                    <a type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>-->
<!--                  </div>-->
<!--                  <small class="text-muted">9 mins</small>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('Wavy Cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('Wavy Cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/2nMpYPA2BxfGVPfetaHydx" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
<!--                    <a href="" target="_blank" type="button" class="btn btn-sm btn-outline-secondary" ><i class="bi bi-youtube"></i></a>-->
                    <a href="https://music.apple.com/us/album/wavy-single/1707037271" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('real_majik_cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('real_majik_cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/2T84mSuejmj9MwRBFQpMhj" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=-DZd9njnuqs&list=OLAK5uy_ndm4j8PbegtwVpIBCLinVUgoVS_07AM-M" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/real-majik-ep/1687275784" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('turquoise_rings_cover.jpeg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('turquoise_rings_cover.jpeg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/51E81ZibEENlpdKjKP0gdn" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=FBrYEPNC4aY&list=OLAK5uy_mZ8ey9edxjknV-QKyCGrqufRwptbplxqo" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/turquoise-rings-single/1648468900" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('ive_been_away_cover.jpg') %>" alt="Thumbnail [100%x225]" src="<%= image_path('ive_been_away_cover.jpg') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/7tUKIqlOKM73igHQ19oyYh" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=pAm3Bil6Reo&list=OLAK5uy_k8O9E-ZE0q-olEJjjc6ZsA0ykVfOtPF0Y" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/ive-been-away-single/1628049425" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="<%= image_path('on_the_road_cover.JPEG') %>" alt="Thumbnail [100%x225]" src="<%= image_path('on_the_road_cover.JPEG') %>" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://open.spotify.com/album/6pqbvKCJ48vrbWkO3heHBt" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-spotify"></i></a>
                    <a href="https://www.youtube.com/watch?v=TbXYcLLtkKU&list=OLAK5uy_mwN5eOlORXchwC-r_aeJ1FWaTIBi0uub8" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-youtube"></i></a>
                    <a href="https://music.apple.com/us/album/on-the-road-single/1622654322" target="_blank" type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-apple"></i></a>
                  </div>
<!--                  <small class="text-muted">9 mins</small>-->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
