<header class="page-header-ui page-header-ui-dark bg-img-repeat bg-secondary" style="background-image: url('')">
  <div class="page-header-ui-content">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="badge badge-marketing rounded-pill bg-secondary-soft text-secondary mb-3">Listen today!</div>
          <h1 class="page-header-ui-title">
            Bob Cekay's New Album "Real Majik"
          </h1>
        </div>
      </div>
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              id="main-banner-video"
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/<%= @video_id %>?autoplay=1&controls=0&showinfo=0&modestbranding=1&rel=0"
            >
            </iframe>
          </div>
          <p class="page-header-ui-text"></p>
        </div>
        <div class="col-lg-6">
          <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type == 'error' ? 'danger' : 'info' %>">
              <%= msg %>
            </div>
          <% end %>
          <div class="card rounded-3 text-lgiht">
            <div class="card-header py-4">
              <% if @render_file %>
                Thanks For Buying Real Majik!!
              <% else %>
               Real Majik Availible now!!!
              <% end %>
            </div>
            <div class="card-body">
              <% if !@render_file %>
                <%= form_with model: @person, url: :create_checkout_session, method: :post do |form| %>
                  <div class="row gx-5 mb-3">
                    <div class="col-md-6">
                      <%= form.label :first_name, class: 'text-gray-600' %>
                      <%= form.text_field :first_name, class: 'form-control' %>
                    </div>
                    <div class="col-md-6">
                      <%= form.label :last_name, class: 'text-gray-600' %>
                      <%= form.text_field :last_name, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="mb-3">
                    <%= form.label :email, class: 'text-gray-600' %>
                    <%= form.email_field :email, class: 'form-control' %>
                  </div>
                  <div class="d-grid">
                    <%= form.submit "Get your copy!", class: "btn btn-primary fw-500" %>
                  </div>
                <% end %>
              <% end %>
              <% if @render_file %>
                <a target="_blank" href="https://drive.google.com/file/d/1mVZZ55v0bEHKXJPjohYkXkmZhf-o_KLE/view">
                  <button class="btn btn-primary fw-500">
                    Download Here!
                  </button>
                </a>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-angled text-white">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor">
      <polygon points="0,100 100,0 100,100"></polygon>
    </svg>
  </div>
</header>

<section class="bg-white py-5">
  <div class="container px-5">
      <div class="text-uppercase-expanded text-end mb-5 text-gray-300">Here's where you get with the album</div>
      <div class="row gx-5 brands text-gray-500 align-items-center">
      <div class="col-sm-12 col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
        Digital Download of all 6 BRAND NEW Songs.
      </div>
      <div class="col-sm-12 col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
        FREE copy of the audio book "Making of Real Majik"
      </div>
      <div class="col-sm-12 col-lg-4 d-flex justify-content-center mb-5 mb-sm-0">
        FREE copy of the E-book "Making of Real Majik"
      </div>
    </div>
  </div>

</section>