<%= render :partial => "shared/funnel/video_header" %>

<%= render partial: "shared/funnel/bonus_offer_item", locals: {
  title: 'Bonus #1 - Real Majik E-book',
  description_one: '"Behind the Scenes of Real Majik - Get a FREE E-Book on the Making of the Most Epic Rock Album of the Year!"',
  # image: 'makin_real_majik_e_book.jpg',
  total_value: 'Total Value: $34.00',
  description_two: 'In this captivating E-book, you\'ll be taken on a journey behind the scenes of the making of <b>Real Majik</b>. Follow the journey of Bob Cekay as he navigates the highs and lows of creating an epic rock masterpiece.',
  call_to_action: 'Get This For FREE When You Order Your Copy Of <i>Real Majik</i> Today!'
} %>

<%= render partial: "shared/funnel/bonus_offer_item", locals: {
  title: 'Bonus #2 - Turquoise Rings',
  description_one: '"Behind the Scenes of Real Majik - Get a FREE E-Book on the Making of the Most Epic Rock Album of the Year!"',
  # image: 'makin_real_majik_e_book.jpg',
  total_value: 'Total Value: $34.00',
  description_two: 'In this captivating E-book, you\'ll be taken on a journey behind the scenes of the making of <b>Real Majik</b>. Follow the journey of Bob Cekay as he navigates the highs and lows of creating an epic rock masterpiece.',
  call_to_action: 'Get This For FREE When You Order Your Copy Of <i>Real Majik</i> Today!'
} %>

<div class="container">
  <%= render :partial => "shared/funnel/purchase_button" %>
</div>

<%= render :partial => "shared/funnel/why_section" %>

<%= render :partial => "shared/funnel/total_value" %>

<div class="container">
  <%= render :partial => "shared/funnel/purchase_button" %>
</div>