<section>
  <div class="everything-you-get">
    <div class="everything-you-get-header row bgCover borderSolid cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin borderLight border1px" id="row--11968" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="">
      <div id="col-full-117" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="de ui-droppable de-editable" id="headline-85828" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-header ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 deneg1pxLetterSpacing lh4 mfs_22" data-bold="inherit" contenteditable="false">
              <font color="#ffffff">
                <b>Let Me Show You EVERYTHING You Get When You Order 'Real Majik' Today!</b>
              </font>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="everything-you-get-body row bgCover borderSolid cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin borderLight border1px" id="row--11968-148-132" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row - Clone - Clone" style="">
      <div id="col-full-117-168-101" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection" id="section--86300" data-title="theStackReplacer" data-block-color="0074C7" style="padding-top: 20px; padding-bottom: 20px; outline: none;" data-trigger="none" data-animate="fade" data-delay="500">
            <div class="containerInner ui-sortable" style="padding-left: 0px; padding-right: 0px;">

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #1 - <b>Mindset</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #2 - <b>Intervals</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #3 - <b>The Major Scale</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #4 - <b>Intro to Chords</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #5 - <b>Chord Tones</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #6 - <b>Pentatonic Scale</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #7 - <b>Models of the Major Scale</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #8 - <b>Interval Note Patterns</b>',
                value: '(12.00 Value)'
              } %>

              <%= render :partial => "shared/funnel/total_value/total_value_item", locals: {
                item_name: 'Section #9 - <b>Rhythmic Note Patterns</b>',
                value: '(12.00 Value)'
              } %>
            </div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-58079" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 10px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-grand-total-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_26" data-bold="inherit" contenteditable="false">
              <b>Total Value: 108.00</b></div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-88306-132" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 20px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-body-secondary-text ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_26" style="" data-bold="inherit" contenteditable="false">
              <b>Monthly membership only costs</b></div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-36885-186" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-final-price ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 deneg1pxLetterSpacing mfs_72 lh0" data-bold="inherit" contenteditable="false">
              <b>$5.00</b></div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-58768-110" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-body-secondary-text ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_25" data-bold="inherit" contenteditable="false">
              <b>All that for less then lunch!!!</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>